
.bloop/
.bsp
.cache
.ensime
.ensime_cache/
.history
.metals/
.sbt-scripted/
.vscode/

dist/*
lib_managed/
project/boot/
project/plugins/project/
project/local-plugins.sbt
src_managed/
target/
out/

local.sbt
metals.sbt

